body{
    background: rgb(118,213,181);
    background: linear-gradient(90deg, rgba(27,214,249,1) 0%, rgba(92,215,227,1) 50%, rgba(215,95,208,1) 100%);
    
}

.header-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}